@import "src/styles/variables";

.searchWithFilters {
  display: flex;
  justify-content: center;
  padding: 1.4rem 0;
}

.searchInput {
  display: flex;
  gap: $spacing-lg;
  border: $spacing-xss solid $color-background-secondary;
  background-color: $color-background-white;
  padding: 0 $spacing-sm;
  width: 28rem;

  &ClearButtonIcon {
    width: 0.9rem;
    height: 0.9rem;
    color: $color-text-dark-grey;

    &:hover {
      color: $color-primary;
    }
  }

  &ConfirmButtonIcon {
    width: 1.2rem;
    height: 1.2rem;
    color: $color-text-dark-grey;

    &:hover {
      color: $color-primary;
    }
  }
}
