@import "src/styles/variables";

.homeTemplate {
  padding: $spacing-xl;
  min-height: 82vh;
  background: $color-background-secondary;
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
}
