@import "variables";
@import url("https://fonts.googleapis.com/css2?family=PTSans:wght@300;400;500;600&display=swap");

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
  letter-spacing: 1px;
  @media (max-width: $max-mobile-width) {
    font-size: 12px;
    letter-spacing: 0.8px;
  }
}

body {
  background-color: $color-background-white;
  color: $color-text-primary;
  font-family: "PT Sans", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

p {
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 24px;
  @media (max-width: $max-mobile-width) {
    font-size: 20px;
  }
}

h3 {
  margin: 0;
  font-size: 17px;
  @media (max-width: $max-mobile-width) {
    font-size: 14px;
  }
}

h4 {
  margin: 0;
  font-weight: normal;
  font-size: 17px;
  @media (max-width: $max-mobile-width) {
    font-size: 13px;
  }
}
