$color-background: #f6f6f2;
$color-background-primary: #388087;
$color-background-secondary: #e0e0e0;
$color-primary: #388087;
$color-secondary: #c2edce;
$color-text-primary: #f6f6f2;
$color-text-secondary: #25272c;

$spacing-xss: 2px;
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 12px;
$spacing-lg: 16px;
$spacing-xl: 32px;

$default-element-height: 6vh;

// media queries pixels
