@import "src/styles/variables";

.header {
  height: 5vh;
  width: 100%;
  background: $color-dark;
  color: $color-background;

  &Links {
    padding: 16px 32px;

    &Element {
      margin: 0 32px;
      color: $color-background;
      text-decoration: none;
    }
  }
}
