@import "src/styles/variables";

.header {
  background-color: $color-background-secondary;
  padding: 0 2rem;

  &Links {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.linkElement {
  color: $color-text-primary;
  text-decoration: none;
  padding: 1.5rem 2rem;

  &StoreApp {
    &:hover {
      color: $color-primary;
      text-decoration: underline;
      text-underline-offset: $spacing-sm;
      text-decoration-thickness: $spacing-xss;
    }
  }

  &Cart {
    &Icon {
      height: 2rem;
      width: 2rem;
    }
  }
}
