@import "src/styles/variables";

.footer {
  display: flex;
  align-items: center;
  background-color: $color-primary;
  padding: 0 2rem;
  color: $color-background-white;
  font-size: 1.2rem;

  &StoreApp {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    width: 100%;

    &:hover {
      cursor: default;
    }

    &Text {
      align-self: center;
      margin: 0;
    }

    &Links {
      display: flex;
      gap: $spacing-md;
    }
  }
}

.link {
  color: $color-background-white;

  &Icon {
    width: 2rem;
    height: 2rem;
  }
}
