@import "src/styles/variables";

.footer {
  max-height: $default-element-height;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: $color-primary;

  &Text {
    margin: 0;
    padding: $spacing-lg $spacing-xl;
    font-size: $spacing-lg;
    color: $color-text-primary;
  }
}
