@import "src/styles/variables";

.cartItemRow {
  display: grid;
  grid-template-columns: 8fr 1fr 1fr;
  grid-gap: $spacing-lg;

  &Quantity {
    align-self: center;
  }

  &Actions {
    align-self: center;
  }
}
