@import "src/styles/variables";

.productListRow {
  display: grid;
  width: 100%;
  height: 20rem;
  grid-template-columns: 1fr 3fr;
  grid-gap: 4rem;

  &Photo {
    max-width: 100%;
    max-height: 18rem;
    object-fit: contain;
    align-self: center;
  }

  &Details {
    display: flex;
    flex-direction: column;
    gap: $spacing-lg;
    overflow: hidden;
  }

  &Title {
    text-decoration: none;
    color: $color-text-primary;
    margin-bottom: $spacing-xss;

    &:hover {
      color: $color-primary;
    }
  }

  &Category {
    text-transform: capitalize;
  }

  &Price {
    color: $color-primary;
    font-weight: bold;
  }

  &Description {
    color: $color-text-secondary;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }

  &Actions {
    display: flex;
    gap: 1.5rem;

    &Button {
      height: 2rem;
      width: 2rem;
    }
  }
}
