@import "src/styles/variables";

.productListRow {
  display: grid;
  grid-template-columns: 9fr 1fr;
  padding: $spacing-sm;
  grid-gap: $spacing-lg;

  &Link {
    text-decoration: none;
  }

  &Option {
    align-self: center;
  }
}
