@import "src/styles/variables";

.buttonElement {
  display: inline-block;
  height: $spacing-xl;
  width: calc(#{$spacing-xl} * 5);
  border: none;
  border-radius: $spacing-xs;
  text-align: center;
  text-decoration: none;
  font-size: $spacing-lg;
  cursor: pointer;

  &Primary {
    background-color: $color-background-primary;
    color: $color-text-primary;
  }

  &Secondary {
    background-color: $color-background-secondary;
    color: $color-text-secondary;
  }
}
