@import "src/styles/variables";

.buttonElement {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $spacing-xl;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: $spacing-lg;
  cursor: pointer;
  padding: 0;

  &Primary {
    background-color: $color-background-primary;
    color: $color-background-secondary;

    &:hover {
      background-color: $color-text-dark-grey;
    }
  }

  &Secondary {
    background-color: $color-text-dark-grey;
    color: $color-background-secondary;

    &:hover {
      background-color: $color-background-primary;
    }
  }

  &Tertiary {
    background-color: transparent;

    &:hover {
      color: $color-primary;
    }
  }

  &Icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &Text {
    margin: 0 $spacing-md;
  }

  &CountIndex {
    font-size: 0.8rem;
    border-radius: 50%;
    background-color: $color-background-primary;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    color: $color-background-white;
    margin-bottom: auto;
    margin-left: -$spacing-xss;
  }

  &VisibilityHidden {
    visibility: hidden;
  }
}
