@import "src/styles/variables";

.buttonElement {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 32px;
  width: 160px;
  border-radius: 4px;
  cursor: pointer;

  &Primary {
    background-color: $color-dark;
    color: $color-background;
  }

  &Secondary {
    background-color: $color-text-secondary;
    color: $color-text-primary;
  }
}
