@import "src/styles/variables";

.productList {
  display: flex;
  flex-direction: column;
  gap: $spacing-xl;
  margin: 3rem auto;
  width: calc(#{$max-tablet-width} - 4rem);
  @media (max-width: $max-tablet-width) {
    width: calc(100% - 4rem);
  }
}
