@import "src/styles/variables";

.checkoutForm {
  display: flex;
  flex-direction: column;
  gap: $spacing-xl;
  margin: 4rem auto;
  width: calc(#{$max-mobile-width} - 4rem);

  @media (max-width: $max-mobile-width) {
    width: calc(100% - 4rem);
  }
}
