@import "src/styles/variables";

.productCard {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 3fr 0.5fr;
  height: 12vh;
  color: $color-text-primary;

  &Image {
    max-height: 10vh;
    max-width: 10vh;
    align-self: center;
    padding: 8px;
  }

  &Title {
    font-weight: bold;
    align-self: center;
    padding: 8px;
  }

  &Description {
    align-self: center;
    padding: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &Item {
    align-self: center;
    padding: 8px;
  }
}
