@import "src/styles/variables";

.productCard {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 3fr 0.5fr;
  height: 8vw;
  color: $color-text-secondary;

  &Image {
    max-height: calc(2 * #{$default-element-height} - 2vh);
    max-width: calc(2 * #{$default-element-height} - 2vh);
    align-self: center;
    padding: $spacing-sm;
  }

  &Title {
    font-weight: bold;
    align-self: center;
    padding: $spacing-sm;
    @media (max-width: $max-mobile-width) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &Description {
    align-self: center;
    padding: $spacing-sm;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &Item {
    align-self: center;
    padding: $spacing-sm;
  }
}
