@import "src/styles/variables";

.cartItemListSummary {
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
  margin-left: auto;

  &Price {
    display: flex;
    justify-content: flex-end;
    gap: $spacing-xs;

    &Value {
      color: $color-primary;
    }
  }

  &Button {
    width: 14rem;
  }
}
