@import "src/styles/variables";

.numberInput {
  outline: none;
  border: 2px solid $color-background-secondary;
  background-color: $color-background-white;
  padding: 0;
  height: calc(3rem - 4px);
  text-align: center;
}
