@import "src/styles/variables";

.numberInput {
  max-height: $spacing-xl;
  background-color: $color-background-white;
  border: 2px solid $color-background-secondary;
  width: $spacing-xl;
  text-align: center;
}
