@import "src/styles/variables";

.productDetails {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: $spacing-lg;

  &Image {
    max-height: calc(8 * #{$default-element-height});
    max-width: calc(8 * #{$default-element-height});
  }
}

.productDetailsInfo {
  display: flex;
  flex-direction: column;

  &Header {
    padding: $spacing-sm;

    &Title {
      font-weight: bold;
      margin: 0;
    }
  }
}
