@import "src/styles/variables";

.productDetails {
  grid-gap: 4rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 4rem auto;
  width: calc(#{$max-tablet-width} - 4rem);
  max-height: 64rem;

  @media (max-width: $max-tablet-width) {
    grid-template-columns: 1fr;
    width: calc(#{$max-mobile-width} - 4rem);
  }

  @media (max-width: $max-mobile-width) {
    width: calc(100vw - 4em);
  }

  &Photo {
    max-width: 100%;
    max-height: 48rem;
    object-fit: contain;

    @media (max-width: $max-tablet-width) {
      max-height: 32rem;
      object-fit: contain;
    }

    @media (max-width: $max-mobile-width) {
      margin: 0 auto;
      max-height: 24rem;
    }
  }

  &Details {
    display: flex;
    flex-direction: column;
    gap: $spacing-xl;
    overflow: hidden;
  }

  &Title {
    margin-bottom: $spacing-xss;
  }

  &Category {
    text-transform: capitalize;
  }

  &Price {
    color: $color-primary;
    font-weight: bold;
    font-size: 24px;
  }

  &Description {
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    color: $color-text-secondary;
  }
}

.productDetailsActions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $spacing-lg;

  &AddToCart {
    display: flex;
    gap: $spacing-lg;

    &Button {
      padding: 0.5rem;
      width: 12rem;
      height: 3rem;
    }
  }
}
