@import "src/styles/variables";

.formElement {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;

  &Input {
    outline: none;
    border: 2px solid $color-background-secondary;
    background-color: $color-background-white;
    padding: 0 $spacing-md;
    height: 2rem;
  }

  &Error {
    margin: 0;
    color: $color-text-error;
  }
}
