@import "src/styles/variables";

.formFooter {
  display: flex;
  justify-content: space-between;
  gap: $spacing-lg;
  margin: $spacing-xl 0;

  &Button {
    width: 14rem;
  }

  &Navigation {
    display: flex;
    flex-direction: column;
    gap: $spacing-lg;

    &Button {
      width: 14rem;
    }
  }
}
